<div class="home-content">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img  src="assets/logo.jpg" alt=""></div>
      <div class="swiper-slide"><img src="https://www.istockphoto.com/photo/a-view-up-into-the-trees-direction-sky-gm1317323736-404791748" alt=""></div>
      <div class="swiper-slide">Slide 3</div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
