<div class="d-flex flex-column mx-auto py-5" style="width: 80%;">
    <div class="d-flex justify-content-between">
      <!-- Left Section: Logo and Social Links -->
      <div>
        <a class="d-flex align-items-center p-0 text-dark" href="/">
          <img alt="logo" src="../../../assets/img/pages/logo.png" width="30px" />
          <span class="ms-3 h5 font-weight-bold">Devwares</span>
        </a>
        <p class="my-3" style="width: 250px;">
          We are creating High Quality Resources and tools to Aid developers during the development of their projects
        </p>
        <div class="mt-4">
          <button  color="dark">
            <i  class="fa fa-facebook-f"></i>
          </button>
          <button  color="dark" class="mx-3">
            <i  class="fa fa-twitter"></i>
          </button>
          <button color="dark">
            <i  class="fa fa-instagram"></i>
          </button>
        </div>
      </div>
  
      <!-- Section 2: Navigation Links -->
      <div>
        <p class="h5 mb-4" style="font-weight: 600">Devwares</p>
        <ul style="list-style: none; cursor: pointer;">
          <li class="my-2"><a class="text-dark" href="/">Resources</a></li>
          <li class="my-2"><a class="text-dark" href="/">About Us</a></li>
          <li class="my-2"><a class="text-dark" href="/">Contact</a></li>
          <li class="my-2"><a class="text-dark" href="/">Blog</a></li>
        </ul>
      </div>
  
      <!-- Section 3: Help Links -->
      <div>
        <p class="h5 mb-4" style="font-weight: 600">Help</p>
        <ul style="list-style: none; cursor: pointer;">
          <li class="my-2"><a class="text-dark" href="/">Support</a></li>
          <li class="my-2"><a class="text-dark" href="/">Sign Up</a></li>
          <li class="my-2"><a class="text-dark" href="/">Sign In</a></li>
        </ul>
      </div>
  
      <!-- Section 4: Additional Help (Optional, duplicate) -->
      <div>
        <p class="h5 mb-4" style="font-weight: 600">Help</p>
        <ul style="list-style: none; cursor: pointer;">
          <li class="my-2"><a class="text-dark" href="/">Support</a></li>
          <li class="my-2"><a class="text-dark" href="/">Sign Up</a></li>
          <li class="my-2"><a class="text-dark" href="/">Sign In</a></li>
        </ul>
      </div>
    </div>
    <small class="text-center mt-5">&copy; Devwares, 2020. All rights reserved.</small>
  </div>
  